:root{
    --white: #FFFFFF;
    --black:#000000;
    --blue:blue;
    --red:red;
}

*{
    margin:0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: -webkit-linear-gradient(left,black ,red  ,blue);
}

.cabecera{
    width: 100%;
    padding: 300px 0;
    position: relative;
}

.titulo{
    margin: 20px 10px;
    text-align: center;
}

.titulo .titulo-principal{
    font-weight: bold;
    color: #000000;
    font-size: 120px;
    text-shadow: 1px 1px 2px var(--blue);
    text-decoration: none;
}
.titulo .titulo-principal:hover{
    cursor: pointer;
    color:var(--blue);
    text-shadow: 2px 2px 3px var(--white);
}

.titulo .subtitulo-principal{
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
}

.logo-pato-pez,
.logo-pato-negro {
    width: 200px;
    height: 200px;
}
.container-img .logo-pato-pez{
    position: absolute;
    right: 400px;
    top: 32%;
}
.container-img .logo-pato-negro{
    position: absolute;
    left: 400px;
    top: 32%;
}