footer {
    color: var(--gris);
    padding: 5rem;
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    
}

.container-redes a {
    margin: 0 1rem;
}

.spotify {
    color: #1ED760;
}
.youtube {
    color: #C8232C;
}
.soundcloud {
    color: #FF7000;
}
.facebook{
    color: #3B5998;
}
.instagram{
    color: #DD2A7B;
}
.tiktok {
    color: var(--blanco);
}

/* BOTON IR ARRIBA */ 

.go-top-container {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    width: 4rem;
    height: 4rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: var(--gris);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: .2s;
}

.go-top-button:hover{
    box-shadow: 0px 0px 5px var(--blanco);
}

.go-top-button i {
    position: absolute;
    font: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--blanco);
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button {
    animation: popup .3s ease-in-out;
    width: 6rem;
    height: 6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%,-50%)scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }
    50% {
        width: 8rem;
        height: 8rem;
    }
    100% {
        width: 6rem;
        height: 6rem;
    }
}