header {
    width: 100%;
}

.container-fluid {
    display: flex;
    justify-content: center;
}

.container-nombre {
    text-align: center;
    justify-content: end;
    display: flex;
    width: 70%;
}


.titulo-banda{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nombre-banda {
    text-align: center;
    font-family: sharoe;
    letter-spacing: 0.3rem;
    font-size: var(--titulo-h1);
    color: var(--rojo);
}



/* ----------- MENU DE NAVEGACION ----------*/

.container-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-header {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    list-style: none;
}

.menu-lista {
    margin: 2rem ;
}

.menu-lista a {
    text-decoration: none;
    color: var(--gris);
    font-size: var(--enlaces);
    letter-spacing: .2rem;
    font-family: sharoe;
    transition: .2s;
}

.menu-lista a:hover {
    color: var(--blanco);
    border-bottom: 1.8px solid var(--rojo);
}



/* FOOTER */



